@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

body.modal-open {
  overflow: hidden;
}

button {
  outline: none !important;
  box-shadow: none !important;
}

input {
  outline: none !important;
  box-shadow: none !important;
}
